<!DOCTYPE html>
<html lang="fr">

<head>
  <title> Apiflix </title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <link rel="icon" href="./assets/img/vueLogo.png" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
  <link href="./assets/style/style.css" rel="stylesheet" />
  <link href="./assets/style/main.scss" rel="stylesheet" />
</head>

<body>

  <div id="app">


    <nav>
      <div class="nav-container">

        <router-link style="text-decoration: none;" to="/">
          <h5> Apiflix </h5>
        </router-link>

        <ul id="icons">
          <li>
            <router-link to="/settings">
              <i class="fas fa-user"></i>
            </router-link>
          </li>
          <li>
            <router-link to="/wishlist">
              <i class="fas fa-heart"></i>
              <span id="nav-not"></span>
            </router-link>
          </li>
          <li>
            <router-link to="/shoppingcart">
              <i class="fas fa-shopping-cart"></i>
            </router-link>
          </li>
        </ul>
      </div>
    </nav>

    <router-view>

    </router-view>


  </div>

  <script type="text/x-template" id="home">

    <div class="home-container">

      <h1> À voir </h1>

      <input v-model="searchKey" type="search" id="search" placeholder="Rechercher.." autocomplete="off">

      <span v-if="searchKey && filteredList.length >= 1">
        {{filteredList.length}} résultat<span v-if="filteredList.length >= 2">s</span>
      </span>

      <button class="btn button-gradient button-one">
        <h3> Séries <i class="fas fa-check-circle"></i></h3>
      </button>

      <button class="btn button-gradient button-one">
        <h3> Films <i class="fas fa-check-circle"></i> </h3>
      </button>

      <button class="btn button-gradient button-one">
        <h3> Animes <i class="fas fa-check-circle"></i></h3>
      </button>

      <!-- AVOIR -->

      <div class="card-cart-container">
        
        <div class="card-container">

          <div v-for="film in filteredList" v-if="film.etat == 'avoir'" class="card">
            
            <div class="card-info">
              <p>{{film.nom}}</p>
            </div>

              <div class="card-text">
                <span><i class="fas fa-clock"></i> {{film.duree}}min</span>
              </div>

              <div class="card-icons">

                <div class="like-container">
                  <input 
                    type="checkbox"
                    name="checkbox-like"
                    v-bind:id="film.id"
                    :value=film.id
                    v-model="liked"
                    @click="setLikeCookie()"
                  />
                    <label v-bind:for="film.id">
                      <i class="fas fa-check-circle"></i>
                    </label>
                </div>

                <div class="add-to-cart">
                  <button v-on:click="addToCart(film)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </div>
            
          </div>

          <div v-if="filteredList.length == []" class="no-result">
              <h3>Désolé</h3>
              <p>Aucun résultat trouvé</p>
            </div>
        </div>

        <!-- CART -->

        <transition name="cart-anim">

        <div v-if="cart.length > 0" class="shopping-cart" id="shopping-cart">

          <h2> Panier </h2>

          <transition-group name="item-anim" tag="div" class="item-group">

          <div v-for="film, id in cart" v-bind:key="film.id" class="item">

              <div class="img-container">
                <img v-bind:src='film.img' alt="">
              </div>

              <div class="item-nom">
                <h4>{{ film.nom }}</h4>
                <p>{{ film.duree }}min</p>
              </div>

              <div class="item-quantity">
                <h6>Quantité : {{ film.quantity }}</h6>
              

              <div class="cart-icons">
                <button v-on:click="cartPlusOne(film)">
                  <i class="fa fa-plus"></i>
                </button>
                <button v-on:click="cartMinusOne(film, id)">
                  <i class="fa fa-minus"></i>
                </button>
                <button @click="cartRemoveItem(id)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>

            </div>

            </div>

          </transition-group>

          <div class="grand-total">
            <div class="total">
              <h2>Total</h2>
              <h2>{{cartTotalAmount}}min</h2>
            </div>
            <h6>Total articles : {{itemTotalAmount}}</h6>
          </div>
        </div>

        </transition>

      </div>

      <!-- A VOIR -->

      <div class="a-voir-container">

        <div class="card-cart-container">
        
          <div class="card-container">
  
            <div v-for="film in filteredList" v-if="film.etat == 'vu'" class="card">
              
                <div class="card-info">
                  <p>{{film.nom}}</p>
                </div>
  
                <div class="card-text">
                  <span><i class="fas fa-clock"></i> {{film.duree}}min</span>
                </div>
  
                <div class="card-icons">
  
                  <div class="like-container">
                    <input 
                      type="checkbox"
                      name="checkbox-like"
                      v-bind:id="film.id"
                      :value=film.id
                      v-model="liked"
                      @click="setLikeCookie()"
                    />
                      <label v-bind:for="film.id">
                        <i v-on:click="setVu(film)" class="fas fa-check-circle"></i>
                      </label>
                  </div>
  
                  <div class="add-to-cart">
                    <button v-on:click="addToCart(film)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </div>
                </div>
            </div>
  
              <div v-if="filteredList.length == []" class="no-result">
                <h3>Désolé</h3>
                <p>Aucun résultat trouvé</p>
              </div>
        </div>
  
      </div>

    </div>

  </script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://unpkg.com/vue-cookies@1.7.4/vue-cookies.js"></script>
  <script src="./assets/js/vue.js"></script>
  <script src="./assets/js/script.js"></script>

</body>

</html>